<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.label :category_id %><br>
    <%= f.select :category_id,
                 options_from_collection_for_select(category_dropdown, :id, :name, @post.category_id) %>
    <%= f.select :status_id,
                options_from_collection_for_select(status_dropdown, :id, :name, @post.status_id)%>
    <%= f.label :tags %><br>
    <%= collection_check_boxes(:post, :tag_ids, Tag.all, :id, :name) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
